input[type="button"]
        {
            background-color:black;
            color: white;
            width:80px;
            height: 50px;
            font-size:25px;
        }
       

        input[type="text"]{
            color: white;
            width: 200px;
            height:30px ;
            background-color:gray;
            font-size:25px ;
            cursor: pointer;
        }
        header{
            color: white;
        }
        h3{
            text-align: center;
            font-size:30px;
         
        }
        fieldset{
            size: 50%;
            max-width:50% 0;
            margin: 15% auto;
 
                }

        
        